

<h1>Contact Us</h1>
<div class= "panel-body">
<div class="jumbotron">
    <div class= "panel-body">


            <div class="row">
            <div class="col-xs-4">
            <%= image_tag("contact.jpeg", :class => "img-thumbnail") %>
               </div>
                <div class="col-xs-4">
                
                <h2> <span class="glyphicon glyphicon-phone"></span> Contact Details </h2>
                <p>Office: 616-994-6576</p>
                <p>Fax: 616-994-5566</p>
                <h3><span class="glyphicon glyphicon-envelope"></span>
                    Email </h3>
                <p>conncect2cater@cater.com</p>
                
                
               
            </div>
             <div class="col-xs-4">
            
                <h2><span class="glyphicon glyphicon-map-marker"></span>Address</h2>
                <p>3314 S Creek Dr SE
                <p>Grand Rapids
                   MI 49512</p>
            </div>
                
            </div>
            </div>
          </div>
        </div>
    </div>
</div>
