 

<h1>What We Do...</h1>

 <div class= "panel-body">
        
         <div class="jumbotron">
        
         <div class= "panel-body">
    
            <div class="row">
            <div class="col-xs-4">

            <%= image_tag("about1.jpg", :class => "img-thumbnail") %>
               </div>
             
                <div class="col-xs-8">
            
                <h2>Powered by technology <h2><p><strong>Connect2Cater works with Famous caterers to provide awesome food at reasonable prices for you.</strong></p>
                <p>Our service can be customized to fit any of your group’s needs from catering with a tasty and healthy breakfast, lunch or Dinner. Plus, our large network of caterer means you’ll have access to all the famous variety your city has to offer.
                
            </div>
            </div>
          </div>
        </div>
    </div>
</div>



