// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contacts {
	
	.jumbotron {
    background: white;
	
}
.panel-body {
	background: #f0ad4e ;
	border-radius: 10px;
	margin-bottom: 4px;
	border-style:groove;
	border-color:black;
}



}